<ion-view view-title="Escala">
    <ion-content class="myback" style="text-align: center">
        <div class="mybutton">
            <button class="item-avatar-left button button-light menu-content menu border">
                <span>Quinta-feira</span>
            </button>
        </div>
        <div class="mybutton">
            <button class="item-avatar-left button button-light menu-content menu border">
                <span>Sexta-feira</span>
            </button>
        </div>
        <div class="mybutton">
            <button class="item-avatar-left button button-light menu-content menu border">
                <span>Sábado</span>
            </button>
        </div>
        <div class="mybutton">
            <button class="item-avatar-left button button-light menu-content menu border">
                <span>Domingo</span>
            </button>
        </div>
        <div class="mybutton">
            <button class="item-avatar-left button button-light menu-content menu border">
                <span>Segunda-feira</span>
            </button>
        </div>
        <div class="mybutton">
            <button class="item-avatar-left button button-light menu-content menu border" ui-sref="app.roboime">
                <span>Terça-feira</span>
            </button>
        </div>
        <div class="mybutton">
            <button class="item-avatar-left button button-light menu-content menu border">
                <span>Quarta-feira</span>
            </button>
        </div>
    </ion-content>
</ion-view>