<ion-view  hide-nav-bar="true">
  <ion-content class="home">
    <header>
      <div class="title-img">
        <img src="img/IME.png" height="70%" width="70%">
      </div>
    </header>

    <table>
      <tr>
        <a>
          <td ui-sref="app.browse">
            <div class="icons">
              <i class="icon ion-map iconimage"></i>
            </div>
            <strong>Mapa</strong>
          </td>
        </a>
        <td ui-sref="app.horarios">
          <div class="icons">
            <i class="icon ion-clock iconimage"></i>
          </div>
          <strong>Horários</strong>
        </td>
        <td>
          <div class="icons">
            <i class="icon ion-calendar iconimage"></i>
          </div>
          <strong>Calendário</strong>
        </td>
      </tr>

      <tr>
        <td>
          <div class="icons">
            <i class="icon ion-android-restaurant iconimage"></i>
          </div>
          <strong>Rancho</strong>
        </td>
        <td>
          <div class="icons">
            <i class="icon ion-information-circled iconimage"></i>
          </div>
          <strong>Informações</strong>
        </td>
        <td>
          <div class="icons">
            <i class="icon ion-clipboard iconimage"></i>
          </div>
          <strong>Escala</strong>
        </td>
      </tr>

      <tr>
        <td>
          <div class="icons">
            <i class="icon ion-person-stalker iconimage"></i>
          </div>
          <strong>Iniciativas</strong>
        </td>
        <td>
          <div class="icons">
            <i class="icon ion-university iconimage"></i>
          </div>
          <strong>Acadêmico</strong>
        </td>
        <td ui-sref="app.sobre">
          <div class="icons">
            <i class="icon ion-more iconimage"></i>
          </div>
          <strong>Sobre</strong>
        </td>
      </tr>
    </table>
  </ion-content>
</ion-view>
