<ion-view view-title="Informações">
    <ion-content class="myback" style="text-align: center">
        <div class="mybutton" ui-sref="app.taf">
            <button class="item-avatar-left button button-light menu-content menu border">
                <span>índices do TAF</span>
            </button>
        </div>
        <div class="mybutton">
            <button class="item-avatar-left button button-light menu-content menu border">
                <span>Eventos do Grifo</span>
            </button>
        </div>
    </ion-content>
</ion-view>