<ion-view view-title="Mapa">
    <ion-content class="myback mybackmap">

        <div class="myback-mapa">
            <div class="mapa">
                <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">
                    <img ng-src="{{myandar[0].src}}">
                </ion-scroll>
            </div>

            <div class="bottom-andar">
                <label class="item item-input item-select andar">
                    <div class="input-label">
                        Andar
                    </div>
                    <select ng-model="$parent.andaratual" ng-change="change()">
                        <option ng-selected="true" value="1">1º andar</option>
                        <option value="2">2º andar</option>
                        <option value="3">3º andar</option>
                        <option value="4">4º andar</option>
                        <option value="5">5º andar</option>
                        <option value="6">6º andar</option>
                        <option value="7">7º andar</option>
                    </select>
                </label>
            </div>
        </div>

    </ion-content>
</ion-view>
