.home {
  background-color: #021f54;
  color: white;
  margin: auto;
  text-align: center;
}

.title-img {
  padding-top: 15%;
  padding-bottom: 10%;
  margin: auto;
  display: block;
  text-align: center;
}

table {
  height: 40%;
  margin: auto;
  overflow-y: scroll;
  position: static;
  width: 90%;
}

td {
  text-align: center;
  padding-bottom: 10%;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 3.5vw;
}

.icons {
  height: 12.5vh;
  width: 12.5vh;
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  background-color: #b70f0a;
  text-align: center;
  border-radius: 15%;
  border: solid 2px;
  border-color: white;
  align-items: center;
}

.icons:active {
  color: #554f4f;
  border-color: #554f4f;
}

.icon {
  margin: auto;
  text-align: center;
}

.iconimage {
  background-color: transparent;
  font-size: 11.5vh;
  max-font-size: 100px;
}

