.myback {
    background-color: #ebebeb;
    background-image: url("../img/rodadentada.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.ourbar {
    background-color: #021f54;
}

.mytitle {
    background-color: #021f54;
    background-image: none;
// color: #b70f0a;
    color: white;
    text-shadow: 2px 2px #b70f0a;
    font-family: 'Graduate', sans-serif;
}

.mysubtitle {
    font-family: 'Graduate', sans-serif;
    color: black;
    font-size: 5vw;
    text-align: center;
//margin-top:0.1px;
    margin-bottom:3vw;
}

.icons {
    color: white;
}

.rodadentada {
    position: absolute;
    margin: 0px;
    right: 0;
}

.bar .title {
    font-size: 7vw;
}

.roboime {
    position: relative;
    margin: auto;
    margin-bottom:2vw;
    width:90vw;
    text-align: center;
}

.text {
    /*font-family:"Courier 10 Pitch";*/
    color: black;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: justify;

}

italic {
    font-style: italic;
}
