.andar {
    margin: 8% 5% 8% 5%;
    text-align: left;
}

.bottom-andar{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mapa {
    height: 97vh;
}

.myback-mapa{
    position: relative;
}
