.myback {
  background-color: #ebebeb;
  background-image: url("../img/rodadentada.png");
  background-repeat: no-repeat;
  background-size: 80vw;
  background-position-x: right;
  background-position-y: bottom;
  text-align: center;
}

.bar  .title{
  font-size: 7vw;
  text-shadow: 1px 0px 0px #a9271b,
  -1px 0px 0px #a9271b,
  0px 1px 0px #a9271b,
  0px -1px 0px #a9271b;
  max-font-size: 20px;
}

.mytitle {
  background-color: #021f54;
  background-image: none;
  color: #fff8f8;
  font-family: 'Graduate', sans-serif;
}

.rodadentada {
  position: absolute;
  margin: 0px;
  right: 0;
}

.ourbar {
  background-color: #021f54;
}

.icons {
  color: white;
}

.button-clear.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: white;
}
