.bar  .title{
  font-size: 7vw;
  text-shadow: 1px 0px 0px #a9271b,
  -1px 0px 0px #a9271b,
  0px 1px 0px #a9271b,
  0px -1px 0px #a9271b;
  max-font-size: 20px;
}

.ourbar {
  background-color: #021f54;
}

.mytitle {
  background-color: #021f54;
  background-image: none;
  color: #fff8f8;
  font-family: 'Graduate', sans-serif;
}

.icons {
  color: white;
}

.button-clear.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: white;
}
